{% extends 'paginas/modelo.html' %}
{% load static %}

{% block title %}Listar{% endblock title %}

{% block conteudo %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h3>Lista de Serviços</h3>
        <hr>
        <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Preço</th>
                  <th scope="col">Descrição</th>

                </tr>
              </thead>
              <tbody>
              {% if servico_list %}
                {% for servico in servico_list %}
                    <tr>
                        <td><input type="checkbox"  id="{{ servico.id }}"></td>
                        <td>{{ servico.nome }}</td>
                        <td>{{ servico.preco }}</td>
                        <td>{{ servico.descricao }}</td>

                    </tr>
                {% endfor %}
                    <tr>

                      <td colspan="4" style="text-align: right;">
                          <button type="button" class="btn btn-info">Agendar</button>
                      </td>

                    </tr>
              {% else %}
                 <tr>
                    <td colspan="4"><i class="fas fa-info" style="color:#4c6ef5"></i> Nenhum Serviço</td>
                 </tr>
              {% endif %}
              </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}