{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}
    <div class="container my-3">
        <div class="card mb-3">
          <img class="card-img-top" src="{% static 'img/laptop-and-hair-equipment.jpg'%}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Faça Seu Agendamento</h5>
            <p class="card-text">Faça seu agendamentos e espere a confirmação do estabelecimento</p>

          </div>
          <div class="card-footer text-muted">
            <a href="{% url 'listarSaloes' %}" class="btn btn" style="background-color: #8a004b; color: #ffff">Agende Agora</a>
          </div>
        </div>
    </div>




{% endblock conteudo %}