{% extends 'paginas/modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

{% block title %}Agendamento{% endblock title %}

{% block conteudo %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <h3>Agendamento</h3>

        <hr>

    {% if form.servico|length > 0 %}

        <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form form %}
<!--            {{ form|crispy }}-->

            <button type="submit" class="btn btn-primary botao" >Agendar</button>

        </form>

    {% else %}
        <p>Esse salão não tem serviços cadastrados</p>

    {% endif %}
    </div>

</div>

{% endblock %}

{% block js %}
{% endblock %}