{% extends 'paginas/modelo.html' %}
{% load static %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

{% block title %}Confimação{% endblock title %}

{% block conteudo %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <h3>Confirme o Agendamento <i class="far fa-calendar-check"></i></h3>

        <hr>
        <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form form %}

            <button type="submit" class="btn btn-primary botao">Confirmar </button>

        </form>

    </div>

</div>

{% endblock %}

{% block js %}
{% endblock %}